.accordion {
    background-color: var(--blade-bg);
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 2rem;


    .key {
        padding-left: 1rem;
        .title {
            font-weight: bold;
            color: $blue;
        }

        .values {
            margin-left: 1rem;
            .label {
                font-weight: bold;
                color: $green;
            }
            .properties {
                color: var(--main-text);
            }
        }
    }
}

.stack-container {

    border-bottom: 1px solid var(--muted-text);
    margin: 1rem 0;
    color: var(--main-text);

    .stack-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .stack-header-title {
            font-weight: bolder;
        }

        .stack-header-buttons {

        }
    }

    .stack-body {
        padding: 0.5rem 0;
    }
}