.alert {
  .alert-icon {
    font-size: 1rem;
  }

  &.alert-warning {
    color: $gray-1000;
    background-color: $yellow;
    border: 0;
  }

  &.alert-danger {
    color: var(--main-text);
    background-color: $red;
    border: 0;
  }

  &.alert-success {
    color: var(--main-text);
    background-color: $green;
    border: 0;
  }

  &.alert-info {
    color: $white;
    background-color: $blue;
    border: 0;
  }
}