.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1rem;
    padding-bottom: 3rem;
}

.article {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    flex-basis: 300px;
    width: 20rem;
    margin: 1rem;
    padding: 0.5rem;
    color: $gray-800;
    background-image: linear-gradient(to right top, #f8f9fa, #f4f6f7, #f0f2f4, #edeff2, #e9ecef);
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-out 200ms;

    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
            to right top, 
            #323fff, 
            #0058ff, 
            #006cff, 
            #007dff, 
            #008cff
        );
        border-radius: 3px;

        z-index: -1;
        transition: all 200ms linear;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
    }

    &:hover {
        -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.4);
        transform: translateY(-4px);

        .title {
            color: $white;
        }

        .sub-title {
            color: $gray-200;
        }
    }

    &.active {
        background-image: linear-gradient(to right top, #323fff, #0058ff, #006cff, #007dff, #008cff);
        transform: translateY(-4px);

        .title-container {
            .title {
                color: $white;
            }
        }

        .sub-title {
            color: $gray-200;
        }

        -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
    }

    .title-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    
        .title {
            font-weight: 600;
        }

        i {
            color: $gray-400;
            &:hover {
                color: $red;
                animation: spin 500ms ease-in-out;
            }
        }
    }

    .sub-title {
        color: $gray-600;
        font-size: 0.75rem;
    }


}

.article-view {

    padding: 1rem;
    background-color:$gray-100;
    border-radius: 7px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);

    .article-content {
        line-height: 160%;
        color: $gray-700;
    }

}

.article-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 2px solid $gray-300;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    .title {
        font-size: 1.5rem;
        color: $gray-700;
        font-weight: 600;
    }

    .badge {
        font-size: 90%;
    }
}