$blade-text-dull: $gray-700;
$blade-text-bright: $gray-600;

.blade-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;

  .blade-header {
    height: 5rem;
    width: 100%;
    background-color: $gray-950;
    border-bottom: 3px solid $gray-1000;
    color: $gray-700;
    padding: 0.625rem;
  }

  .blade-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;

    .blade {
      width: 2.5rem;
      background-color: $gray-1000;
      transition: width 200ms ease-in-out;
      white-space: nowrap;
      overflow: hidden;


      &:hover {
        cursor: pointer;

        .blade-content {
          .content-title {
            color: $blade-text-bright;
          }
        }
      }

      &.active {
        width: 100%;
        cursor: default;

        .blade-content {
          .content-title {
            color: $blade-text-bright;
          }
        }
      }

      &.blade-main {
        width: 100%;

        .blade-content {
          .content-title {
            color: $blade-text-bright;
          }
        }

        &.active {
          width: 2.5rem;
          cursor: default;

          .blade-content {
            .content-title {
              color: $blade-text-dull;
            }
          }

          &:hover {
            cursor: pointer;
          }
        }

        &:hover {
          cursor: default;

          .blade-content {
            .content-title {
              color: $blade-text-bright;
            }
          }
        }
      }

      .blade-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;

        .content-title {
          color: $blade-text-dull;
          background-color: $gray-950;
          writing-mode: tb-rl;
          width: 2.5rem;
          padding-right: 0.625rem;

          .title-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;

            .title-container-label {
              align-self: flex-end;
              margin-bottom: 1rem;
              font-weight: 600;
            }
          }
        }

        .content-body {
          padding: 1rem 2.5rem;
          width: 100%;
          color: $gray-600;
          overflow-y: scroll;
          overflow-x: scroll;

          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }

          .content-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            font-family: 'Space Mono', sans-serif;
            font-weight: 600;
            font-size: 1.25rem;
            margin-bottom: 2rem;

            .content-header-close {
              cursor: pointer;
            }
          }

          .content-text {

          }
        }

        #main-blade-content {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          height: calc(90vh - 5rem);

          @keyframes jiggle {
            from, to {
              margin-right: 0;
              color: $gray-600;
              animation-timing-function: ease-out;
            }
            50% {
              margin-right: 10rem;
              color: $gray-1000;
              animation-timing-function: ease-in;
            }
          }

          .icon {
            font-size: 4rem;
            text-align: right;
            animation: jiggle 1750ms infinite;
          }
        }
      }
    }
  }

}
