.dash-tile {
    color: var(--main-text);
    background-color: var(--blade-bg);
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid $blue;
    border-radius: 0.25rem;
    box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out;

    &:hover {
        box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.5);
    }

    &.success {
        border-bottom: 3px solid $green;
    }

    &.danger {
        border-bottom: 3px solid $red;
    }

    .dash-tile-header {
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        font-weight: 600;
        margin-bottom: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dash-tile-body {

    }
}