.directory {
  font-family: 'Space Mono', sans-serif;
  color: $main-text;

  .root {
    font-weight: bolder;
    margin-bottom: 0.5rem;

    .fa-eye {
      display: none;
    }

    .fa-folder-open {
      color: $sub-text;
    }

    &:hover {
      .fa-eye {
        display: inline;
      }
    }

    .child {
      color: $sub-text;
      font-weight: 400;
      transition: color 500ms ease-in-out;
      //margin-left: 1rem;

      &:first-child {
        margin-top:0.5rem;
      }

      &:last-child {
        margin-bottom: 0.5rem;
      }

    }
  }

  i {
    color: $muted-text;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $sub-text;
    }
  }
}