body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: var(--main-text);
    background-color: var(--body-bg);
    font-size: 1rem;
}

section {
    &.au-enter-active {
        -webkit-animation: fadeIn 0.3s;
        animation: fadeIn 0.3s;
    }
    &.au-leave-active {
        -webkit-animation: fadeOut 0.3s;
        animation: fadeOut 0.3s;
    }
}

@media only screen and (max-width: 768px) {
    .hide-sm-only {
        display: none;
    }
}

.root-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vw;
    border-top: 3px solid var(--blade-bg);
    border-bottom: 3px solid var(--blade-bg);

    .content {
        width: 100vw;
        background-color: var(--container-bg);
    }

}

.main-container {
    height: calc(100vh - 3rem - 6px);
    color: var(--main-text);
    padding: 2rem;

    .full-col {
        height: 90vh;
        color: var(--sub-text);
        overflow-y: scroll;
        overflow-x: scroll;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}