body {
    font-family: 'Khula', sans-serif;
    font-weight: 400;
    color: $gray-100;
    font-size: 1rem;
    background-color: $gray-1000;
}

section {
    &.au-enter-active {
        -webkit-animation: fadeIn 0.3s;
        animation: fadeIn 0.3s;
    }
    &.au-leave-active {
        -webkit-animation: fadeOut 0.3s;
        animation: fadeOut 0.3s;
    }
}

@media only screen and (max-width: 768px) {
    .hide-sm-only {
        display: none;
    }
}

.root-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //justify-content: space-between;
    width: 100vw;
    height: 100vh;

    .menu {
        width: 20vw;
        background-color: $gray-900;
    }

    .content {
        width: 80vw;
        background-color: $gray-1000;
    }
}