body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: var(--main-text);
    font-size: 1rem;
}

section {
    &.au-enter-active {
        -webkit-animation: fadeIn 0.3s;
        animation: fadeIn 0.3s;
    }
    &.au-leave-active {
        -webkit-animation: fadeOut 0.3s;
        animation: fadeOut 0.3s;
    }
}

@media only screen and (max-width: 768px) {
    .hide-sm-only {
        display: none;
    }
}

.root-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vw;
    border-top: 3px solid var(--blade-bg);
    border-bottom: 3px solid var(--blade-bg);

    .content {
        width: 100vw;
        background-color: var(--container-bg);
    }

}

nav {
    &.navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        height: 3rem;
        padding: 1rem 1rem;

        color: $main-text;
        background-color: darken($gray-1100, 1%);

        .center-col {
            .brand {
                font-family: 'Space Mono', sans-serif;
                color: $main-text;
                font-weight: 600;
            }
        }

        .left-col {
            color: $muted-text;
        }

        .right-col {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .ico {
                margin-left: 1rem;
                color: $muted-text;

                &:hover {
                    cursor: pointer;
                    color: $main-text;
                }
            }
        }
    }
}
