.page-section {
    margin-bottom: 4rem;

    .section-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 2rem;

        .section-title {

        }

        .section-button-tray {

        }
    }
}
