.panel {
    background-color: var(--blade-bg);
    border-radius: 3px;
}

.box-container {
    max-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: var(--blade-bg);
    border-radius: 3px;
    color: var(--main-text);

    .box-container-toolbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0 0.5rem;

        .box-container-title {
            font-size: 1.2rem;
            font-family: 'Space Mono', sans-serif;
            font-weight: 600;

            small {
                color: var(--sub-text);
                font-family: 'Work Sans', serif;
                font-size: 0.8rem;
                line-height: 0.8rem;
            }
        }

        .box-container-icons {

        }
    }


    .box-parent {
        padding: 0.5rem 0.5rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-right: -1rem;

        .box-child {
            margin-right: 1rem;
            margin-bottom: 1rem;
            min-width: 8rem;
            min-height: 6rem;
            padding: 1rem;

            border-radius: 3px;
            background-color: $gray-400;

            display: flex;
            flex-grow: 1;

            flex-flow: column wrap;
            justify-content: space-between;

            -webkit-box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.25);

            transition: box-shadow 200ms ease-in-out;

            &:hover {
                -webkit-box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.5);
                box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.5);
            }

            &.red-bg {
                background-image: linear-gradient(to right top, #d82447, #d32253, #cc245e, #c42868, #bb2d71);
            }

            &.green-bg {
                background-image: linear-gradient(to right top, #00b17f, #00b086, #00b08d, #00af93, #01ae98);
            }

            .box-title {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

            .box-content {
                font-size: 1.4rem;
                font-family: 'Space Mono', sans-serif;
                text-align: right;
            }
        }
    }
}
