.menu-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    
    .menu-header {
        font-size: 1.5rem;
        font-weight: 600;
        color: $blue;
        padding: 2rem;
        text-align: right;
    }

    .menu-list {
        padding-bottom: 2rem;

        .file-title {
            padding-left: 2rem;
        }

        .menu-item {
            padding: 0.5rem 2rem;
            border-right: 2px solid $gray-100; 
            transition: background-color ease-out 250ms, border-color ease-out 250ms;
    
            .title-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                // transform: translateX(100%);
                // transition: transform ease-out 250ms;
    
                .title {
                    display: inline-block;
                    cursor: pointer;
                    // transform: translateX(-100%);
                    // transition: transform ease-out 250ms;
                    align-self: center;

                    &.no-link {
                        color: $purple;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .delete {
                    color: $gray-400;

                    &:hover {
                        color: $red;
                        cursor: pointer;
                        i {
                            animation: spin 500ms ease-in-out;
                        }
                    }
                }
            }
    
            &:hover {
                color: $gray-600;
                background-color: $gray-200;
                border-right: 2px solid $gray-200; 
            }
    
            &.active {
                background-color: $gray-300;
                border-right: 4px solid $blue;
                color: $gray-700;
                font-weight: 600;

                .title-container, .title {
                    transform: translateX(0%);
                }
            }
        }
    }

    .menu-buttons {
        text-align: center;
        
        .btn {
            width: 80%;
            font-size: 1rem;
        }
    }
}