.table {
  &.dark-table {
    color: var(--main-text);
    margin-left: -0.75rem;

    thead {
      font-size: 0.75rem;
      text-transform: uppercase;
      color: var(--sub-text);
    }

    .spin-icon-anim:hover {
      animation: spin 250ms ease-in-out;
    }
  }
}