.table {

  &.dark-table {
    color: var(--main-text);

    thead {
      font-size: 0.75rem;
      text-transform: uppercase;
      color: var(--sub-text);
    }

    th, td {
      border-top: 1px solid var(--muted-text);
      border-bottom: 1px solid var(--muted-text);
    }
  }
}

