.table {
  &.dark-table {
    color: $main-text;
    margin-left: -0.75rem;

    thead {
      font-size: 0.75rem;
      text-transform: uppercase;
      color: $sub-text;
    }

    .spin-icon-anim:hover {
      animation: spin 250ms ease-in-out;
    }
  }
}