$charcoal: #2b2d33;
$blue:    #323fff; // #008cff
$pink:    #ff0386;
$red:     #d82447;
$orange:  #ff7954;
$yellow:  #fc0;
$green:   #00b17f;
$cyan:    #009dfc;
$brown:   #494454;

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-950: #14171a;
$gray-1000: #101215;
$gray-1100: #111111;

$black:  #000;
$shadow: transparentize($black, .95);
$dark-shadow: transparentize($black, .7);
$bright-shadow: transparentize($white, .7);

$red-light: lighten($red, 35%);
$cyan-light: lighten($cyan, 38%);
$yellow-light: lighten($yellow, 35%);
$blue-light: lighten($blue, 45%);
$green-light: lighten($green, 45%);

$red-dark: darken($red, 20%);
$cyan-dark: darken($cyan, 20%);
$yellow-dark: darken($yellow, 20%);
$blue-dark: darken($blue, 20%);
$green-dark: darken($green, 20%);

$background: #090c15;
$background-light: lighten(#090c15, 5%);
$background-dark: darken($background, 2%);
$charcoal-dark: #141517;

$theme-colors: ( "primary": $blue, "danger": $red, "secondary": $charcoal, "success": $green, "info": $cyan, "warning": $yellow, "light": $gray-300, "dark": $gray-900);
$grid-columns: 24;

$main-text: $gray-400;
$sub-text: $gray-600;
$muted-text: $gray-700;
$body-bg: $gray-1100;
$container-bg: $gray-1000;
$blade-bg: $gray-950;
$blade-container-bg: $gray-1000;
$blade-text-dull: $gray-700;
$blade-text-bright: $gray-600;
$blade-arrow-start: $gray-600;
$blade-arrow-finish: $gray-1000;

$main-text-lite: $gray-950;
$sub-text-lite: $gray-700;
$muted-text-lite: $gray-600;
$body-bg-lite: $white;
$container-bg-lite: $gray-100;
$blade-bg-lite: darken($gray-100, 3%);
$blade-container-bg-lite: $gray-100;
$blade-text-dull-lite: $gray-600;
$blade-text-bright-lite: $gray-800;
$blade-arrow-start-lite: $blade-container-bg;
$blade-arrow-finish-lite: $gray-600;


:root {
  --color-page-background: #{$body-bg};
  --main-text: #{$main-text};
  --sub-text: #{$sub-text};
  --muted-text: #{$muted-text};
  --body-bg: #{$body-bg};
  --container-bg: #{$container-bg};
  --blade-bg: #{$blade-bg};
  --blade-container-bg: #{$blade-container-bg};
  --blade-text-dull: #{$blade-text-dull};
  --blade-text-bright: #{$blade-text-bright};
  --blade-arrow-start: #{$blade-arrow-start};
  --blade-arrow-finish: #{$blade-arrow-finish};
}

.lite {
  --color-page-background: #{$body-bg-lite};
  --main-text: #{$main-text-lite};
  --sub-text: #{$sub-text-lite};
  --muted-text: #{$muted-text-lite};
  --body-bg: #{$body-bg-lite};
  --container-bg: #{$container-bg-lite};
  --blade-bg: #{$blade-bg-lite};
  --blade-container-bg: #{$blade-container-bg-lite};
  --blade-text-dull: #{$blade-text-dull-lite};
  --blade-text-bright: #{$blade-text-bright-lite};
  --blade-arrow-start: #{$blade-arrow-finish-lite};
  --blade-arrow-finish: #{$blade-arrow-start-lite};
}

* {
  transition: color 0.25s ease;
  transition: background-color 0.25s ease;
}